# =========================
# Ambiente virtual (uv)
# =========================
.venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Testes e cobertura
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.env
.env
.env.*

# =========================
# Build / distribuição
# =========================
build/
dist/
*.egg-info/

# =========================
# Cache do uv
# =========================
.uv/
